li{
    padding: 0 1rem;
    margin-left: 1rem;
}
li::after{
    content: '';
    border-right: 1px solid grey;
    padding-left: 1rem;;
  
}
li:last-child::after, li:nth-child(4)::after{
    border-right:none;
}

a{
    color:black;
    text-decoration: none;
}