<div class=" d-flex mb-4">
    <div>
        <img class="img-product" width="150" height='100'>  
        <button type="button" class="btn btn-sm btn-primary" routerLink="/shopping">Add to Cart</button>
    </div>
    <div class="product-detail ms-4 w-100">
        <h6 routerLink="/dashboard/productItem.id">Product</h6>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <p>Price</p>
    </div>
</div>

