.checkout{
    text-align: center;
}
.checkout>div {
    border-bottom: 1px solid grey;
    width: 42%;
    padding-bottom:1rem;
}

.active{
    color:blue;
}

.checkout .active{
    border-bottom: 2px solid blue;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}
input:focus{
    outline: none;
    text-decoration: none;
}

h3{
    border-bottom: 1px solid grey;
    padding-bottom: 0.7rem;
}

.shipping{
    margin-right: 3rem;
}