<div class="d-flex justify-content-around checkout">
    <div class="active">1. Shopping Cart</div>
    <div>2. Shipping Detail</div>
    <div>3. Payment Options</div>
</div>
<h2 class="text-center mt-4" *ngIf="carts.length<1">Your Cart Is Empty!! </h2>

<div class="row mt-4">
    <div class="shopping col-md-7" *ngIf="carts.length>=1">
        <h3> Shopping Cart</h3>

        <div class="d-flex justify-content-between cart mt-4" *ngFor="let item of carts, let i=index">
            <div class="d-flex">
                <img [src]="imageUrl[i]" class="img-fluid" width="40%">
                <div class="ms-2">
                    <div>{{item.name}}</div>
                    <p>{{item.description}}</p>
                    <p>${{item.price}}</p>
                </div>
            </div>
            <div class="number-input">
                <input class="quantity" min="1" name="quantity" [value]="item.qty" type="number"
                    (change)="onChangeEvent(item,$event)">
            </div>
        </div>
    </div>
    <div class="col-md-3" *ngIf="carts.length>=1">
        <h3> Summary</h3>
        <app-coupon></app-coupon>
    </div>
</div>
<div class="d-flex my-4">
    <button class="btn btn-primary me-2" routerLink="/shipping">Next</button>
    <button class="btn btn-secondary" routerLink="/dashboard">Cancel</button>
</div>