<div class="d-flex">
    <div>
        <img src="https://i.ytimg.com/vi/IqdV8crqSYM/maxresdefault.jpg" class="img-fluid" >
    </div>
    <div class="mx-5">
        <h3> Product Title</h3>
        <div class="d-flex justify-content-between list-border">
            <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
             </div>
             <div>5 reviews</div>
        </div>
        <div class="d-flex justify-content-between mt-3 list-border">
            <h3>$1233</h3>
            <select  class="form-select" name="Color" id="color" aria-label="Default select example">
                <option selected>Select Modal</option>
                <option value="Rose Gold">Rose Gold</option>
                <option value="Black">Black</option>
                <option value="White">White</option>
                <option value="Grey">Grey</option>
            </select>
        </div>
        <p class="mt-3 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut labore sint nesciunt hic temporibus, aut quis blanditiis dicta, in exercitationem illo. Enim iste laborum architecto!</p>
        <button class="btn btn-primary" routerLink="/shopping" >Add To Cart</button>

    </div>
</div>
<div class="reviews">
    <h3> REVIEWS</h3>
    <div class="mt-5">
        <div class="d-flex justify-content-between">
            <div class="d-flex w-50">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLe5PABjXc17cjIMOibECLM7ppDwMmiDg6Dw&usqp=CAU" class="rounded-circle" width="63%" height="68%">
                <div class="ms-3">
                    <div>JOHN DOE</div>
                    <p>August 14,2016</p>
                </div>
            </div>
            <p class="review-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. A corrupti temporibus doloremque quos. Voluptas mollitia ea suscipit dicta, dolorum quasi. Itaque recusandae cum officiis earum non sapiente dicta voluptas illum!</p>
        </div>
    </div>
    <div class="mt-3">
        <div class="d-flex justify-content-between">
            <div class="d-flex w-50">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLe5PABjXc17cjIMOibECLM7ppDwMmiDg6Dw&usqp=CAU" class="rounded-circle" width="63%" height="68%">
                <div class="ms-3">
                    <div>JOHN DOE</div>
                    <p>August 14,2016</p>
                </div>
            </div>
            <p class="review-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. A corrupti temporibus doloremque quos. Voluptas mollitia ea suscipit dicta, dolorum quasi. Itaque recusandae cum officiis earum non sapiente dicta voluptas illum!</p>
        </div>
    </div>

</div>